#LanguageDisplay {
  position: absolute;
  right: 0px;
  width: 900px;
  height: 500px;
}
#Langdistribution {
  position: absolute;
  background-color: rgb(78, 78, 78);
  border-radius: 10px;
  text-align: center;
  left: 50%;
  transform: translate(-50%);
  color: white;
  padding: 5px;
  font-size: 20px;
}
#Diagram {
  position: relative;
  top: 60px;
  pointer-events: none;
}
#AboutText {
  background-color: rgb(78, 78, 78);
  border-bottom-right-radius: 500px;
  border-top-right-radius: 10px;
  height: 591px;
  width: 670px;
  transform: scale(1.8, 1);
  padding: 40px;
  margin: 30px;
}
#section1 {
  color: white;
}
#section2 {
  color: #8b3efe;
}
#section3 {
  color: #f22e84;
}
.section {
  font-size: 30px;
  padding-bottom: 15px;
  transform: scale(0.5555, 1);
}

/*
  #8b3efe purple
  #f22e84 red
  */
