:root {
  --NameHeight: 100px;
}
#NameContainer {
  position: absolute;
  height: var(--NameHeight);
  width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#NameText {
  position: absolute;
  width: 100%;
  text-align: center;
  line-height: var(--NameHeight);
  color: white;
  font-size: 50px;
}
#BorderTopLeft {
  position: absolute;
  top: 0;
  left: 0;
  width: 150;
  height: 50;
  border-top: white solid;
  border-left: white solid;
}

#BorderBottomRight {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 150;
  height: 50;
  border-right: white solid;
  border-bottom: white solid;
}
