body {
  background-color: rgb(20, 20, 20);
  margin: 0;
  font-family: "Fira Code", monospace;
}

#headline {
  background-color: rgb(40, 40, 40);
  padding-bottom: 10px;
  padding-right: 50px;
  width: 100%;
  height: 70px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.headShadow {
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 0px;
  background: rgb(15, 15, 15);
  background: linear-gradient(
    180deg,
    rgba(15, 15, 15, 1) 50%,
    rgba(20, 20, 20, 1) 100%
  );
}

.HInstance {
  color: rgb(202, 202, 202);
  float: right;
  font-size: 30px;
  line-height: 70px;
}

.Header {
  width: 100%;
  height: 70px;
  background: linear-gradient(90deg, #8b3efe 50%, #f22e84 100%);
  color: white;
  font-size: 30px;
  line-height: 70px;
  padding-left: 40px;
}

#Home_wrapper {
  width: 100%;
  height: 1000px;
}
#NameWrapper {
  width: 100%;
  height: 1000px;
}

#Info_wrapper {
  width: 100%;
  height: 1000px;
}
#InfoWrapper {
  width: 100%;
  height: 1000px;
}

#Projects_wrapper {
  width: 100%;
  height: 1000px;
}
#ProjectsWrapper {
  width: 100%;
  height: 1000px;
}
/*
#8b3efe purple
#f22e84 red
*/
