:root {
  --primcolor: #8a60dd;
  --Seccolor: #8680ff;
}

body {
  background-color: rgb(20, 20, 20);
  margin: 0;
  font-family: "Fira Code", monospace;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#headline {
  background-color: rgb(40, 40, 40);
  padding-bottom: 10px;
  padding-right: 50px;
  width: 100%;
  height: 70px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.headShadow {
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 0px;
  background: rgb(15, 15, 15);
  background: linear-gradient(
    180deg,
    rgba(15, 15, 15, 1) 50%,
    rgba(20, 20, 20, 1) 100%
  );
}

.HInstance {
  color: rgb(202, 202, 202);
  float: right;
  font-size: 30px;
  line-height: 70px;
}

.Header {
  width: 100%;
  height: 70px;
  background: linear-gradient(90deg, var(--primcolor) 0%, var(--Seccolor) 100%);
  color: white;
  font-size: 30px;
  line-height: 70px;
  padding-left: 150px;
}

#Home_wrapper {
  width: 100%;
  height: 1000px;
}
#NameWrapper {
  width: 100%;
  height: 1000px;
  position: absolute;
}

#Info_wrapper {
  width: 100%;
  height: 1000px;
}
#InfoWrapper {
  width: 100%;
  height: 1000px;
}

#Projects_wrapper {
  width: 100%;
  height: auto;
  min-height: 1300px;
}
#ProjectsWrapper {
  width: 100%;
  height: auto;
}

#Contact_wrapper {
  width: 100%;
  height: 100px;
}
#ContactWrapper {
  width: 100%;
  height: 100px;
}
/*
#8b3efe purple
#f22e84 red
*/
